* {
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  margin: 0;
}
.slick-next {
  color: red;
  right: 0;
}
.general-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 85%;
}
.filter-container {
  width: 13%;
  height: 100vh;
  position: sticky;
  top: 0;
}
.filter-container > div {
  position: fixed;
  top: 5rem;
  left: 1rem;
  width: 100%;
}
.category-field {
  width: 13%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.192);
  border-radius: 0.2rem;
  cursor: pointer;
}
.category-field:nth-child(1) {
  /* box-shadow: 0 0 0.2rem 0.001rem rgb(124, 124, 124); */
  cursor: default;
}
.category-field > h5 {
  color: rgba(255, 153, 0, 0.719);
  padding: 0.5rem 0;
  margin-left: 1rem;
  font-size: 1.1rem;
  font-weight: normal;
}
.filter-icon {
  transform: scale(1.4);
  margin-right: 0.9rem;
  color: #555;
}
.category-field > label {
  color: #555;
  padding: 0.5rem 0;
  margin-left: 1rem;
  cursor: pointer;
}
.category-field > input {
  transform: scale(1.4);
  margin-right: 1rem;
  cursor: pointer;
}

.up {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  width: 3rem;
  height: 3rem;
  bottom: 10%;
  left: 95%;
  background-color: rgba(255, 153, 0, 0.664);
  border-radius: 100%;
  transition: 0.2s ease opacity;
  cursor: pointer;
  z-index: 5;
}
.up:hover {
  background-color: rgb(255, 153, 0);
}
.up:focus {
  background-color: red;
}
.up-icon {
  color: #fff;
  display: block;
  font-size: 1.7rem;
}

/* ===== Header ===== */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  position: sticky;
  top: 0;
  box-shadow: 0px 0px 3px 0.1px rgb(209, 209, 209);
  margin-bottom: 1rem;
  z-index: 3;
  background-color: #fff;
}
.fakeshop-icon {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: rgb(255, 153, 0);
  font-size: 1.3rem;
  text-transform: uppercase;
  margin: 0rem 1rem;
}
/* ----- Search Bar ----- */
.search-bar {
  width: 40%;
  display: flex;
  justify-content: center;
}
.search-bar > input {
  width: 100%;
  padding: 0.5rem;
  font-size: 0.9rem;
  border: none;
  border-bottom: 1px rgb(255, 153, 0) solid;
}
.search-bar > input:focus {
  outline: 0.1rem solid rgb(255, 153, 0);
  border-radius: 2rem;
  box-shadow: 0 0 0.3rem 0.01rem rgb(255, 153, 0);
}

/* ----- Header Cart ----- */
.cart-container {
  display: flex;
  align-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0rem 1rem;
}

.products-count {
  color: #fff;
  font-size: 1rem;
  background-color: rgb(255, 153, 0);
  padding: 0.2rem 0.3rem;
  border-radius: 0.2rem;
}
.cart-icon {
  color: rgb(255, 153, 0);
  transform: scale(1.7);
  margin-left: 1rem;
}
/* ===== Header End ===== */

.card-container {
  width: 18vw;
  z-index: 2;
  height: 57vh;
  margin-bottom: 1.5rem;
  border: rgb(207, 207, 207) 1px solid;
  border-radius: 0.4rem;
  transition: 0.2s ease-in-out transform;
  box-shadow: 0px 0px 3px 0.1px rgb(209, 209, 209);
  background-color: white;
  cursor: pointer;
}
.card-container:hover {
  transform: translate(0, -0.3rem);
}
.product-cart {
  color: #fff;
  margin: auto;
  margin-top: 1rem;
  background-color: rgb(241, 102, 125);
  font-size: 0.7rem;
  padding: 0.5rem 2rem;
  border-radius: 0.2rem;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  transition: 0.2s ease-in-out opacity;
}
.card-container:hover .product-cart {
  opacity: 1;
}
.product-cart:active {
  background-color: rgb(243, 73, 101);
}

.card {
  background-color: white;
}
.card-link {
  text-decoration: none;
}

.info {
  padding: 1rem;
  height: 28%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.title {
  background-color: white;
  color: #222;
}
.card-container:hover .title {
  color: rgb(255, 153, 0);
}

.price {
  color: rgba(1, 129, 1, 0.5);
  font-size: 0.95rem;
  font-weight: bold;
  margin-top: 0.3rem;
  background-color: white;
}

.info .category {
  color: rgb(170, 170, 170);
  font-size: 0.8rem;
  margin-top: 0.3rem;
  background-color: white;
}

.image {
  width: 18vw;
  height: 70%;
  display: flex;
  justify-content: center;
  background-color: white;
  border-bottom: 1px solid rgba(255, 153, 0, 0.24);
}

.image > img {
  width: 70%;
  height: 12rem;
  background-size: cover;
  padding: 1rem;
  background-color: white;
}

/* ----------------------------------------------------- */

/* ===== product details page ===== */
.product-container {
  width: 60%;
  margin: auto;
}

.product-container input {
  color: #fff;
  padding: 0.5rem 2rem;
  margin-top: 2rem;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  transition: ease 0.2s;
}
.product-container input:hover {
  color: white;
  background-color: rgb(105, 105, 105);
}

.product {
  display: flex;
  align-content: center;
  height: 80vh;
  border: 1px solid silver;
  border-radius: 0.4rem;
  background-color: white;
  box-shadow: 0px 0px 3px 0.1px rgb(209, 209, 209);
}

.product-info {
  margin: 2rem 0;
  margin-left: 0rem;
  padding: 2rem;
  width: 40%;
  background-color: white;
  border-left: 2px solid rgb(230, 229, 229);
}
.product-title {
  margin-bottom: 1rem;
  background-color: white;
}

.product-price {
  display: inline-block;
  margin-bottom: 0.5rem;
  color: rgb(230, 245, 255);
  border-radius: 0.2rem;
}

.product-description {
  margin: 1rem 0;
  font-size: 0.7rem;
  color: rgb(124, 124, 124);
  background-color: white;
}
.product-category {
  padding: 0.5rem;
  margin: 1rem 0;
  box-shadow: 0px 0px 1px 1px rgb(189, 189, 189);
  color: rgb(168, 90, 44);
  background-color: rgb(212, 212, 212);
  border-radius: 0.2rem;
}

.product-image {
  width: 50%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.product-image .product-image-img {
  width: 90%;
  height: 90%;
  background-size: cover;
  /* object-fit: cover; */
}

.add-to-cart {
  background-color: rgb(241, 102, 125);
  border-radius: 0.2rem;
  cursor: pointer;
  width: 8rem;
  height: 1.65rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.add-to-cart:active {
  background-color: rgb(243, 73, 101);
}
.add-to-cart h4 {
  color: #fff;
  background-color: transparent;
  font-size: 0.7rem;
}
.add-to-cart-icon {
  color: #fff;
  transform: scale(1);
  background-color: transparent;
  display: none;
}
.add-to-cart:hover h4 {
  display: none;
}
.add-to-cart:hover .add-to-cart-icon {
  display: inline-block;
}
/* ===== End product details page ===== */

/* ===== Carousel ===== */
.products-carousel {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
}
.product-in-carousel {
  width: 9rem;
  height: 15rem;
  margin: 0.7rem;
  border: 0.1rem rgba(0, 0, 0, 0.171) solid;
  border-radius: 0.5rem;
  transition: 0.2s ease background-color transform;
  transition: 0.1s ease transform;
}
.product-in-carousel:hover {
  background-color: rgb(240, 240, 240);
  transform: scale(0.97);
}
.carousel-image {
  width: 9rem;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-image > img {
  width: 80%;
  height: 80%;
}
.carousel-info {
  width: 100%;
  height: 5.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.carousel-title {
  width: 80%;
  font-size: 0.7rem;
  text-align: center;
}
.carousel-price {
  color: #444;
  font-size: 0.7rem;
}
.carousel-link {
  text-decoration: none;
  color: #222;
}
/* ===== End Carousel ===== */

/* ===== Cart Contents ===== */
.product-container-cart {
  width: 100%;
}
.product-in-cart {
  width: 50%;
  margin: auto;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 3px 0.1px rgb(209, 209, 209);
}
.product-info-cart {
  width: 70%;
}
.product-title-cart {
  margin: 0.3rem 0;
}
.product-price-cart {
  color: rgba(1, 129, 1, 0.5);
  margin-top: 0.4rem;
}
.product-category-cart {
  padding: 0.5rem;
  margin: 0.5rem 0 0 0;
  box-shadow: 0px 0px 1px 1px rgb(189, 189, 189);
  color: rgb(168, 90, 44);
  background-color: rgb(212, 212, 212);
  border-radius: 0.2rem;
}
.product-image-cart {
  border-right: 0.1rem rgba(255, 153, 0, 0.171) solid;
  width: 10rem;
  display: flex;
  justify-content: flex-start;
}
.product-image-cart > img {
  width: 8rem;
  height: 8rem;
}
.qunatity-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5rem;
}
.quantity-box {
  width: 2.5rem;
  display: flex;
  justify-content: center;
  border-radius: 0.2rem;
  box-shadow: 0 0 0.3rem 0.01rem rgb(138, 138, 138);
  margin: 0 1rem;
}
.quantity {
  padding: 0.5rem 0;
}
.subtract-quantity,
.add-quantity {
  transform: scale(1.1);
  color: rgb(255, 153, 0);
  cursor: pointer;
}
.subtract-quantity:active,
.add-quantity:active {
  transform: scale(1);
}
.faded-btn {
  color: rgba(255, 153, 0, 0.445);
  cursor: default;
}
.remove-from-cart {
  background-color: transparent;
  border-radius: 0.2rem;
  border: 0.1rem solid rgb(228, 0, 38);
  cursor: pointer;
  width: 8rem;
  height: 1.65rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.3rem;
  transition: 0.2s ease background-color;
}
.remove-from-cart:hover {
  background-color: rgb(228, 0, 38);
}
.remove-from-cart:active {
  background-color: rgb(175, 3, 32);
}
.remove-from-cart h4 {
  color: rgb(80, 80, 80);
  font-weight: normal;
  background-color: transparent;
  font-size: 0.75rem;
}
.remove-from-cart-icon {
  color: #fff;
  transform: scale(1.2);
  background-color: transparent;
  display: none;
}
.remove-from-cart:hover h4 {
  display: none;
}
.remove-from-cart:hover .remove-from-cart-icon {
  display: inline-block;
}
.empty-cart {
  margin: auto;
  margin-top: 2rem;
  display: block;
  background-color: rgb(228, 0, 38);
  color: #fff;
  padding: 0.5rem 2.5rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
}
.empty-cart:active {
  background-color: rgb(175, 3, 32);
}

/* Making tag for price */
.tag {
  display: inline-block;

  width: auto;

  background-color: #008fa8;
  -webkit-border-radius: 3px 4px 4px 3px;
  -moz-border-radius: 3px 4px 4px 3px;
  border-radius: 2px 4px 4px 2px;

  border-left: 1px solid #008fa8;

  /* This makes room for the triangle */
  margin-left: 19px;

  position: relative;

  color: white;
  font-weight: 300;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.9rem;
  line-height: 38px;

  padding: 0 2rem 0 1.5rem;
}

/* Makes the triangle */
.tag:before {
  content: "";
  position: absolute;
  display: block;
  left: -19px;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
  border-right: 19px solid #008fa8;
}

/* Makes the circle */
.tag:after {
  content: "";
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  display: block;
  position: absolute;
  left: -9px;
  top: 17px;
}

/* ----- Toastify Editing ----- */
.Toastify__progress-bar--success {
  background-color: rgb(255, 153, 0);
}

/* ===== Loaders ===== */
/* ----- Loader 1 ----- */
.loader {
  border: 8px solid rgb(255, 255, 255);
  border-top: 8px solid rgba(255, 153, 0, 0.582);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ----- End Loader 1 ----- */
/* ----- Loader 2 ----- */
.beat-loader-container {
  display: flex;
  justify-content: center;
}

/* ----- End Loader 2 ----- */
/* ===== End Loaders ===== */

/* ===== Custom Scrollbar ===== */
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.1rem rgb(255, 153, 0);
  border-radius: 4rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 153, 0, 0.753);
  border-radius: 2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 153, 0);
}
/* ===== End Custom Scrollbar ===== */
